# Ignore virtual environment
myyolovenv/

# Ignore checkpoints and outputs
.ipynb_checkpoints/
Model Code Output.txt

# Ignore data folder with images
data/
labelImg

# Ignore Videos and images
My_Videos_and_Images/
*.mp4

# Ignore large files and datasets
yolov5s.pt

# Ingore other files
Drowsiness Detection.docx

